@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,800);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);


* {margin: 0; padding: 0; box-sizing: border-box}

body {
	font-family: 'Source Serif Pro', serif;
	font-size: 21px;
	line-height: 1.5em;
}

h2, h3, h4 {
	font-family: 'Open Sans', serif; 
	color: #6d6e71;
}

h1 {
	color: #ffffff;
	font-family: 'Open Sans', serif;
	font-size: 2.5em;
	line-height: 1.2em;
}

h2 {
	font-size: 1.5em;
	line-height: 1em;
}

h3 {
	font-size: 1.2em;
	font-weight: 600;
	line-height: 1em;
}

h4 {
	font-size: 1em;
	font-weight: 600;
	line-height: 1em;
}

p {
	color:#CD5360;
	margin: 1em 0 0 0;
}

a {
	text-decoration:none;
	color:#429991;
	border-bottom: 1px solid #429991;
	padding-bottom:1px;
}

ul{
	color:#000000;
	color: #429991;
	list-style-type:none;
}

header {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    padding: 20px;
}

header img {
    display: block;
    margin: auto;
    padding: 4em 0;
}

.intro {
	width: 75%;
	float:left;
	margin: 0 0 5em 0;
}

#primarynav {
	width: 25%;
	float:right;
}

#writingpanel {
	background-image: url(../images/bg-test.jpg);
	background-size: contain;
	background-repeat: repeat-y;
}

#secondarynav {
	width: 25%;
	padding: 3em 0 1em 0;
}

.articleinfo {
	width: 50%;
	float:left;
	margin-right: 1.5em;
}

#writing {
	width: 1200px;
	margin: 1.5em auto;
}

#roundabout {
	width: 45%;
	float:right;
}

#designpanel {
	background-color: #f4f4f4;
}

#design {
	width: 1200px;
	margin: 0 auto;
}

.promo {
	width: 30%;
	margin: 0 1.5%;
	float: left;
}

#design img {
	width:100%;
	margin: 5em 0 0 0;
}

#design h2 {
	font-size: 1.2em;
	margin: .5em 0;
	font-weight: 600; 
}

#design p {
	font-size: .8em;
	line-height: 1.5em;
	margin: 0 0 3em 0;
}

#archive {
    clear: both;
    padding: 0 0 3em 0;
}

footer {
    background-color: #6d6e71;
    padding: 1.5em 0 2.5em 0;
}

#footercontent {
	width: 1200px;
	margin: 1.5em auto;
}

#footernav {
	float:right;
	width: 30%;
}

.contact {
	width: 70%;
	float:left;
}

footer a {
	color: #ffffff;
}

footer p {
	color: #ffffff;
}

footer h2 {
	color: #ffffff;
}

footer a:hover {
	border-bottom: 1px solid #ffffff;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

