@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,800);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);


* {margin: 0; padding: 0; box-sizing: border-box}

body {
	background-color: #ffffff;
	font-family: 'Source Serif Pro', serif;
	font-size: 21px;
	line-height: 1.5em;
}

h2, h3, h4 {
	font-family: 'Open Sans', serif; 
	color: #6d6e71;
}

h1 {
	color: #ffffff;
	font-family: 'Open Sans', serif;
	font-size: 2.5em;
	line-height: 1.2em;
}

h2 {
	font-size: 1.5em;
	line-height: 1em;
}

h3 {
	font-size: 1.2em;
	padding: .5em 0 0 0;
	font-weight: 600;
	line-height: 1em;
}

h4 {
	font-size: 1em;
	padding: .5em 0 0 0;
	font-weight: 600;
	line-height: 1em;
}

p {
	color:#CD5360;
	padding: 1em 0 0 0;
}

a {
	text-decoration:none;
	color:#429991;
	border-bottom: 1px solid #429991;
	padding-bottom:1px;
}

ul{
	color:#000000;
	color: #429991;
	list-style-type:none;
}

header {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

div, section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

.intro {
	width: 75%;
	float:left;
}

.promo {
	width: 33.33%;
	float: left;
}

.articleinfo {
	width: 60%;
	float:left;
}

.contact {
	width: 75%;
	float:left;
}

/*#design {
	width: 1200px;
	margin: auto;
}*/

#design img {
	width:100%;
	margin: 0;
}

#design h2 {
	font-size: 1.2em;
	padding: .5em 0 0 0;
	font-weight: 600; 
}

#design p {
	width: 25em;
	font-size: .8em;
	line-height: 1.5em;
}

#primarynav {
	width: 25%;
	float:right;
}

#roundabout {
	width: 40%;
	float:right;
}

#accessibility {
	width: 40%;
	float:right;
}

#archive {
    clear: both;
}

#footernav {
	float:right;
}

header img {
    display: block;
    margin: auto;
    padding: 4em 0;
}

footer nav {
	width: 25%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

