@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,800);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);


* {margin: 0; padding: 0; box-sizing: border-box}

body {
	font-family: 'Source Serif Pro', serif;
	font-size: 20px;
	line-height: 1.5;
}

h2, h3, h4 {
	font-family: 'Open Sans', serif;
	color: #6d6e71;
	color: rgba(0,0,0,.5);
}

h1 {
	color: #ffffff;
	font-family: 'Open Sans', serif;
	font-size: 2.5em;
	line-height: 1.2em;
	padding-right: 1em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
	font-weight: 600;
}

h4 {
	font-size: 1em;
	font-weight: 600;
}

p {
	color: #ff9a9e;
	margin: 0 0 1em 0;
}

a {
	color: #6d6e71;
	text-decoration:none;
}

header {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    padding: .8em;
}

.intro {
	width: 75%;
	float:left;
	margin: 0 0 5em 0;
}

#imagelink {
	text-align: center;
	margin: 4em 0 3em 0;
}

#imagelink a {
	border-bottom: none;
}

#primarynav {
	width: 25%;
	float:right;
}

#primarynav a {
	display: block;
	color: #ffffff;
	margin: 0 0 .3em 0;
}
#primarynav a span {
	border-bottom: 1px solid rgba(255,255,255,.5);
}
#primarynav a:hover span{
	border-bottom: 1px solid #ffffff;
}

#writingpanel {
	background: #98cfd2;
}

#secondarynav {
	padding: 3em 0 1em 0;
}

#secondarynav a {
	color: #ffffff;
	border-bottom: 1px solid rgba(255,255,255,.5);
	margin: 0 1em 0 0;
}

#secondarynav a:hover{
	border-bottom: 1px solid #ffffff;
}

.container {
	max-width: 600px;
	margin: auto;
	padding: 0 2em;
}

.containermain {
	width: 85%;
	margin: 0 auto;
}

.articleinfo {
	width: 50%;
	float:left;
}

.articleinfo h2 {
	margin: 0 0 .5em 0;
}

.articleinfo h3 {
	margin: 0 0 1em 0;
}

.articleinfo h4 {
	color: rgb(255, 255, 255);
}

#roundabout {
	width: 50%;
	float: left;
	background: #fff;
	padding: 4em 0;
}

#readmore {
	border-bottom: 1px solid rgba(0,0,0,.2);
}

#readmore:hover {
	border-bottom: 1px solid #6d6e71;
}

#designpanel {
	background-color: #f4f4f4;
}

.promo {
	width: 33.33%;
	/* margin: 0 1.5%; */
	float: left;
	padding: 1em;
}

#designpanel img {
	width:100%;
	margin: 5em 0 0 0;
}

#designpanel h2 {
	font-size: 1.2em;
	margin: .5em 0;
	font-weight: 600; 
}

#designpanel p {
	font-size: .9em;
	line-height: 1.5em;
	margin: 0 0 3em 0;
	color: rgba(109, 110, 113, 0.7);
}

.archive {
    clear: both;
    padding: 0 0 3em 0;
    text-align: center;
}

.archive a {
	colour: #6d6e71;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.archive a:hover {
	border-bottom: 1px solid #6d6e71;
}

footer {
    background-color: #6d6e71;
    padding: 2em 0 2.5em 0;
}

#footernav {
	width: 31%;
	float:right;
}

footer p {
	color: #ffffff;
}

footer h2 {
	color: #ffffff;
}

footer a {
	color: #ffffff;
}

.contact {
	width: 69%;
	float:left;
}

.contact a {
	color: #ffffff;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

.contact a:hover {
	border-bottom: 1px solid rgb(255,255,255);
}

#footernav a {
	display: block;
	color: #ffffff;
}
#footernav a span {
	border-bottom: 1px solid rgba(255,255,255,.5);
}

#footernav a:hover span{
	border-bottom: 1px solid #ffffff;
}

#footernavmobile {
	display: none;
}

footer p {
	color: #ffffff;
}

footer h2 {
	color: #ffffff;
}

#totop {
	display: none;
}

@media only screen and (min-width: 2000px){

.containermain {
		margin: auto;
		width: 80%;
	}
}


@media only screen and (max-width: 1310px){
	
	body {
		font-size: 18px;
	}

	.containermain {
		width: 90%;
	}

	header {
    	padding: .5em;
	}

	#imagelink {
		text-align: center;
		margin: 2.5em 0 2em 0;
	}

	.intro {
		margin: 0 0 3em 0;
	}

}

@media only screen and (max-width: 1200px) {
	
	.containermain {
		width: 95%;
	}

	h1 {
		padding-right: 0;
	}

	.intro {
		width: auto;
		float: none;
		margin: 0 0 2.5em 0;
	}

	#primarynav {
		width: auto;
		float:none;
		text-align: center;
	}

	#primarynav a {
		margin: 0 .5em 2em .5em;
		display: inline-block;
	}

	.container {
		padding: 0px 2em;
	}

	#roundabout {
		padding: 2.5em 0;
	}

	#secondarynav {
		padding: 2.5em 0 1em 0;
	}

	#designpanel img {
		margin: 3.3em 0 0 0;
	}

}

@media only screen and (max-width: 800px) {

	.containermain {
		margin: auto;
		width: 85%;
	}

	.articleinfo {
		width: auto;
		float: none;
	}

	#roundabout {
		margin: auto;
		width: 100%;
		float: none;
		background: #98cfd2;
		padding: 2.5em 0;
	}

	p {
		color: #ffffff;
	}

	.container a {
		color: #ffffff;
	}

	#readmore {
		border-bottom: 1px solid rgba(255,255,255,.5);
	}

	#readmore:hover {
		border-bottom: 1px solid #ffffff;
	}

	.container {
		width: 85%;
		margin: 0 auto;
		padding: 0;
		max-width: none;
	}

	.promo:nth-of-type(1) {
		float: none;
		width: 100%;
		margin: auto;
		padding: 3em 0 2.5em 0;
	}

	.promo {
		float: none;
		width: 100%;
		margin: auto;
		padding: 0 0 2.5em 0;
	}

	.promo:nth-of-type(3) {
		float: none;
		width: 100%;
		margin: auto;
		padding: 0 0 3em 0;
	}

	#designpanel img {
		margin: 0 0 1em 0;
	}

	#designpanel p {
		margin: 0;
	}

	#archive {
		padding: 1.5em 0 3em 0;
	}

	footer {
    	text-align: center;
    	padding: 2em 0 2em 0;
	}

	.contact {
		width: auto;
		float: none;
	}

	.contact p {
		margin: 0 0 .25em 0;
	}

	#footernav {
		display: none;
	}

	#footernavmobile {
		display: inline-block;
	}

	#footernavmobile a {
		opacity: .7;
		width: 1.3em;
		float: left;
		margin: .5em;
	}

	#footernavmobile a:hover {
		opacity: 1;
	}

	#totop {
		font-family: 'Open Sans', serif;
		font-size: .8em;
		opacity: .3;
		display: block;
		text-align: center;
	}

	#totop a:hover {
		opacity: .7;
	}

}

@media only screen and (max-width: 610px) {
	
	#imagelink {
		margin: 1.5em auto 1em;
	}

	h1 {
		font-size: 2em;
	}

	#primarynav {
		display: none;
	}

	#roundabout {
		padding: 1.5em 0 2.5em 0;
	}

}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
